# Arquivo criado para demonstração das variáveis de ambiente utilizadas nesse projeto.

export KEY_DEVOPS_IAC=

export PUBLIC_IP= # hosts.ini
export KEY_PEM_PATH= # hosts.ini

export TF_VAR_key_name= # main.tf
export TF_VAR_region= # main.tf
export TF_VAR_server_name=" # main.tf
export TF_VAR_instance_type= # main.tf
