---
- name: Configurar Servidor DevOps com Docker
  hosts: aws_servers
  become: yes  # Executar como sudo

  tasks:
    - name: Atualizar cache do apt
      apt:
        update_cache: yes
        force_apt_get: yes

    - name: Instalar pacotes necessários
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present

    - name: Adicionar chave GPG do Docker
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Adicionar repositório Docker
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
        state: present

    - name: Instalar Docker Engine
      apt:
        name: docker-ce
        state: present

    - name: Garantir que o Docker está a correr
      service:
        name: docker
        state: started
        enabled: yes